<!-- templates/admin_dashboard_limited.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administración - Administrador</title>
</head>
<body>
    <h1>Bienvenido, {{ user.first_name }} (Administrador)</h1>
    <p>Este es el panel de administración limitado.</p>
    
    <!-- Aquí podrías agregar secciones o enlaces a áreas limitadas que solo pueden ver los administradores -->
    <ul>
        <li><a href="{% url 'gestion_usuarios' %}">Gestionar Empleados</a></li>
        <li><a href="{% url 'plantacion' %}">Mis Plantaciones</a></li>
        <li><a href="{% url 'registrar_plantacion' %}">Registrar Plantación</a></li>
        <li><a href="{% url 'informes' %}">Ver informes</a></li>


    </ul>

    
    <main>
        {% block content %}
        <!-- Aquí va el contenido específico de cada página -->
        {% endblock %}
    </main>
    
    <!-- usuarios/templates/usuarios/base.html o cualquier otra plantilla -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>


    {% if temperatura and descripcion %}
    <h2>Clima en {{ ubicacion }}:</h2>
    <p>Temperatura: {{ temperatura }}°C</p>
    <p>Descripción: {{ descripcion }}</p>
    <p>Humedad: {{ humedad }}%</p>
    <p>Presión: {{ presion }} hPa</p>
    <p>Velocidad del viento: {{ velocidad_viento }} m/s</p>
    {% else %}
    <p>No se pudo obtener el clima.</p>
    {% endif %}
</body>
</html>
