<!-- usuarios/templates/usuarios/password_reset.html -->
{% extends 'usuarios/base.html' %}

{% block title %}Restablecer contraseña - Fragaria{% endblock %}

{% block header %}Restablecer contraseña{% endblock %}

{% block content %}
<p>Introduce tu correo electrónico para recibir instrucciones sobre cómo restablecer tu contraseña.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
    <button onclick="window.history.back();">Volver </button>

</form>
{% endblock %}
