<!-- usuarios/templates/usuarios/registrar_plantacion.html -->
<h1>Registrar Nueva Plantación</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="fechas_recomendadas">Fechas recomendadas para la siembra:</label>
    <select name="fecha_recomendada" id="fechas_recomendadas">
        <option value="">Selecciona una fecha</option>
        {% for fecha in fechas_recomendadas %}
            <option value="{{ fecha }}">{{ fecha }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="fecha_personalizada">Seleccionar la fecha en la que usted quiere empezar la siembra:</label>
    <input type="date" name="fecha_personalizada" id="fecha_personalizada">
    <br><br>
    <button type="submit">Registrar</button>
</form>

<a href="{% url 'admin_dashboard_limited' %}">Volver a la lista de plantaciones</a>

{% if temperatura and descripcion %}
<h2>Clima en {{ ubicacion }}:</h2>
<p>Temperatura: {{ temperatura }}°C</p>
<p>Descripción: {{ descripcion }}</p>
<p>Humedad: {{ humedad }}%</p>
<p>Presión: {{ presion }} hPa</p>
<p>Velocidad del viento: {{ velocidad_viento }} m/s</p>
{% else %}
<p>No se pudo obtener el clima.</p>
{% endif %}